/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	background: #F0F0F0!important;
}

#todo-con {
	width: 600px;
	margin: 0 auto;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #CCC;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	font-size: 24px;
}

#todo-form {
	margin: 0;
}

#todo-form #name {
	padding: 10px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
	position: relative;
	margin: 0;
	width: 580px;
	font-size: 24px;
	font-style: italic;
	border-bottom: 1px dotted #CCC;

}

#todo-form h3 {
	text-align: center;
}

#todo-list-con {

}

#todo-list {
	margin: 0;
}

#todo-list li {
	font-size: 24px;
	border-bottom: 1px dotted #CCC;
	word-wrap: break-word;
}

#todo-list .view {
	position: relative;
}

#todo-list li label {
	padding: 15px;
	font-size: 24px;
}

#todo-list .delete-btn {
	position: absolute;
	right: 10px;
	top: 15px;
	font-weight: bold;
}

.editable {
	margin: 0;
}

.editable input{
	border: none;
	background: white;
	outline: none;
	padding: 5px;
	font-size: 24px;
}

#footer-text {
	text-align: center;
	margin-top: 10px;
}

#footer-text a {
	color: #555;
}

#ajax-loader{
	text-align: center;
	display: none;
}

#ajax-loader p {
	font-weight: bold;
	font-size: 15px;
	font-style: italic;
}

#todo-form .alert-error {
	margin: 10px;
}

#todo-form .alert-error p {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.errors {
	display: none;
}